<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Lang" content="en" />
	<meta name="author" content="Faith Quest Games" />
	<meta http-equiv="Reply-to" content="racmaster@holylandsrpg.com" />
	<title>$subject</title>
	<style>
	p{
		font-family: 'Trebuchet', 'Lucida Sans', sans-serif;
	}
	#signature{
		font-family: 'Georgia', 'Palatino', serif;
		font-size: larger;
		font-style: italic;
	}
	#tdFooter{
		text-align: center;
		font-size: .8em;
		color: #4B4E7F;
	}
	</style>
</head>
	<body>
		<table style="width: 730px; margin: 0 auto;">
			<tr>
				<td style="padding:30px; text-align: left">
					<a href="http:///www.holylandsrpg.com" target="_blank">
						<img class="padImg" src="http://www.holylandsrpg.com/images/logoHLRPG.png" alt="Holy Lands RPG; The Christian Role-Playing Game" />
					</a>
				</td>
			</tr>
			<tr>
				<td style="padding:0 30px; text-align: left">
					<table>
						<tr>
							<td>
								<h2>$title</h2>
								<p>Hi $firstName!</p>
								<p>$message</p>
								<p>
									Blessings,<br>
									<span id="signature">Racmaster</span><br>
									<span style="font-size: smaller">Creator, Holy Lands RPG</span>
								</p>
							</td>
						<tr>
					</table>
				</td>
			<tr>
				<td id="tdFooter">
					$footer
				</td>
			</tr>
		</table>
	</body>
</html>
